# Strapi API Configuration
STRAPI_URL=https://legendary-delight-abce3e6fc0.strapiapp.com

# Cache Control
# Set to 'true' to use cached data and avoid API requests during development
# Set to 'false' to always fetch fresh data from Strapi
USE_STRAPI_CACHE=false

