---
import { Header } from "@/components/Header";
import "../styles/global.css";
import Footer from "@/sections/Footer";
import ContactUs from "@/sections/ContactUs";
import { getHeaderNavigation } from "@/lib/api/header";
import { getFooter } from "@/lib/api/footer";
import { getContactSection } from "@/lib/api/contact";

const headerData = await getHeaderNavigation();
const footerData = await getFooter();
const contactData = await getContactSection(); 
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harmonic Dental</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header {...headerData}/>
      <main>
        <slot />
      </main>
    <ContactUs {...contactData}/>
    <Footer {...footerData} />
  </body>
</html>
